body{
    background-color: #343a40;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stopWatch{
    color: yellow;
    font-size: 200px;
    font-weight: bold;
}
.button{
    margin: 20px;
}